
<%= render Liponahatso::TextComponent.new(text: "Headings", text_type: :p) %>
<div class="my-3">
<%= render Liponahatso::TextComponent.new(text: "H1", text_type: :h1) %>
</div>
<div class="my-3">
<%= render Liponahatso::TextComponent.new(text: "H2", text_type: :h2) %>
</div>
<div class="my-3">
<%= render Liponahatso::TextComponent.new(text: "H3", text_type: :h3) %>
</div>
<div class="my-3">
<%= render Liponahatso::TextComponent.new(text: "H4", text_type: :h4) %>
</div>